<div class="container">
	<%= form_for(@club) do |club| %>
		<% if @club.errors.any? %>
		<div id="error_explanation">
			<h2> <%= pluralize(@club.errors.count, "error") %> prohibited this article from being saved</h2>

			<ul>
				<% @club.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<h1>Editting page for <%= @club.name %></h1>
		
		<div class="field" data-no-turbolink>
			<%= club.label :info %><br>
			<%= club.text_area :info, :class => 'ckeditor' %>
		</div>

		<div class="actions">
	    	<%= club.submit %>
	  	</div>
	<% end %>
</div>